<section>
    
    <app-navbar></app-navbar>
  
    <section class="container p-5 min-vh-100 ">

        <app-navbar-personajes></app-navbar-personajes>

        <div [ngSwitch]="conditionExpression">
          <app-personaje-raza *ngSwitchCase="'raza'"></app-personaje-raza>
          <app-personaje-estadisticas *ngSwitchCase="'estadisticas'"></app-personaje-estadisticas>
          <app-personaje-habilidades *ngSwitchCase="'habilidades'"></app-personaje-habilidades>
          <app-personaje-nombre *ngSwitchCase="'nombre'"></app-personaje-nombre>
        </div>
    </section>
    
</section>
