
<div class="row justify-content-center m-3 ">
    <div class="col-md-6 mb-1">
        <section class="container p-5 min-vh-100  ">
            <h1>Crear Personaje</h1>
            <a [routerLink]="['/crearpersonaje']">Haz clic aquí</a>
        </section>
    </div>
    <div class="col-md-6">
        <section class="container p-5 min-vh-100 ">
            <section class="border border-3 border-black rounded-2 p-3 ">
                <h1 >Personajes</h1>
                <button>Haz clic aquí</button>
            </section>
        </section>
    </div>
</div>

            
