
<div class="row justify-content-center m-3 ">
    <div class="col-md-6 mb-1">
        <section class="container p-5 min-vh-100  ">
            <h1>Crear Personaje</h1>
            <button [routerLink]="['/crearpersonaje']">Haz clic aquí</button>
        </section>
    </div>
    <div class="col-md-6">
        <section class="container p-5 min-vh-100 ">
           
            <h1 >Personajes</h1>
            <button [routerLink]="['/listapersonajes']">Haz clic aquí</button>
          
        </section>
    </div>
</div>

            
