<section>
        
    <h2 class="h1 mb-5 m-auto fw-bold">RESUMEN PERSONAJE</h2>

    <section class=" row d-flex  justify-content-end">

        <div class="col-12 border   ">
            <div class=" col-12 cont rounded-4 ">
                <h1 class="fw-bold ">Personal</h1>
                <div class="w-100  ">
                    <label>Nombre:</label>
                    <p>{{formNombre.get('nombre')}}</p> 
                </div>
                <div class="w-100 ">
                    <label>Edad:</label>
                    <p>{{formNombre.get('edad')}}</p> 
                </div>
            </div>
        
            <div class=" col-12  cont rounded-4"> 
                <h1 class="fw-bold mb-5">Raza</h1>
                <div class=" w-100 ">
                    <p>{{raza}}</p> 
                </div>
            </div>

            <div class="col-12  cont rounded-4  ">
                <h1 class="h1 fw-bold ">Estadisticas</h1>
    
                <label>Vitalidad:</label>
                <p></p> 
    
                <label >Fuerza:</label>
                <p  > </p>
            
                <label >Destreza:</label>
                <p  > </p>
            
                <label >Resistencia:</label>
                <p  > </p>
            
                <label >Arcano:</label>
                <p  > </p>
    
               
            </div>
        
        </div>
        
        
        
    </section>

    <button class="mt-5 mx-5 p-4 w-25" (click)="volver()"> Volver </button>
    <button class="mt-5 mx-5 p-4 w-25" (click)="CrearPersonaje()"> Crear Personaje</button>

</section>